<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Index</title>

    <link rel="stylesheet" href="\Views\Styles\AdminPanel\AdminPanel.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>

<body>
    <div class="AdminPanelBody">
        
        <div class="AdminPanelHeader">

            <nav class="AdminPanelNav">
                <a href="/AdminPanel" >Home</a>
                <a href="AdminPanel/Cards">Cards</a>
                <a href="AdminPanel/Users" style="text-decoration: underline;">Users</a>
                <a href="AdminPanel/Products">Products</a>
            </nav>

        </div>
        
        <div class="ListCard">

            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Role</th>
                </tr>
                
            </table>

        </div>

    </div>
</body>

</html>